@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(175, 9, 9);
    font-family: "Courgette", cursive;
    text-align: center;
    font-size: larger;
}

button , a {
    width: 250px;
    height: 100px;
    font-family: "Courgette", cursive;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 9, 9);
}
