@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 3, 3);
    font-family: "Courgette", cursive;
    text-align: center;
}

button , a {
    width: 250px;
    height: 100px;
    font-family: "Courgette", cursive;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: red;
}
